<div class="opening-hours-cotainer">
  <div
    class="opening-hours-content container d-flex flex-column align-items-center"
  >
    <h1>Horário de Funcionamento</h1>
    <hr class="hr-style opacity-100" />
    <h2 class="mb-3">
      Segunda a Sexta das 9:00h às 18:00h - Sábado das 9:00h às 13:00h
    </h2>
    <h2 class="mb-5">CRECI: 0000</h2>

    <div class="row gap-3 flex-column flex-lg-row">
      <div class="col-12 col-lg hours-card Regular shadow">
        <div class="hours-card-content">
          <img src="../../img/logo/logo.webp" alt="logo" />
          <p>CRECI: 0000</p>
        </div>

        <h3>Unidade Jardim das Flores</h3>
        <hr class="hr-style-card opacity-100" />

        <p>Rua Exemplo, 123 - Bairro Centro, Cidade/UF, CEP 00000-000</p>

        <h3>(00) 0000-0000</h3>
        <h3>(00) 0000-0000</h3>
      </div>
      <div class="col-12 col-lg hours-card Regular shadow">
        <div class="hours-card-content">
          <img src="../../img/logo/logo.webp" alt="logo" />
          <p>CRECI: 0000</p>
        </div>

        <h3>Unidade Jardim das Flores</h3>
        <hr class="hr-style-card opacity-100" />

        <p>Rua Exemplo, 123 - Bairro Centro, Cidade/UF, CEP 00000-000</p>

        <h3>(00) 0000-0000</h3>
        <h3>(00) 0000-0000</h3>
      </div>
      <div class="col-12 col-lg hours-card Regular shadow">
        <div class="hours-card-content">
          <img src="../../img/logo/logo.webp" alt="logo" />
          <p>CRECI: 0000</p>
        </div>

        <h3>Unidade Jardim das Flores</h3>
        <hr class="hr-style-card opacity-100" />

        <p>Rua Exemplo, 123 - Bairro Centro, Cidade/UF, CEP 00000-000</p>

        <h3>(00) 0000-0000</h3>
        <h3>(00) 0000-0000</h3>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="components/openingHours/openingHours.css" />
