<div class="hero-container">
  <div
    class="d-flex flex-row container vh-100 justify-content-start align-items-center"
  >
    <div class="form-container">
      <form class="row g-2">
        <!-- Linha 1 -->
        <div class="col-md-6">
          <select class="form-select">
            <option selected>Comprar</option>
            <option>Alugar</option>
          </select>
        </div>
        <div class="col-md-6">
          <select class="form-select">
            <option selected>Todos</option>
            <option>Casa</option>
            <option>Apartamento</option>
          </select>
        </div>

        <!-- Linha 2 -->
        <div class="col-12">
          <input
            type="text"
            class="form-control"
            placeholder="Bairro ou Cidade"
          />
        </div>

        <!-- Linha 3 -->
        <div class="col-md-4">
          <select class="form-select">
            <option selected>Quartos</option>
            <option>1</option>
            <option>2</option>
          </select>
        </div>
        <div class="col-md-4">
          <input type="number" class="form-control" placeholder="Min" />
        </div>
        <div class="col-md-4">
          <input type="number" class="form-control" placeholder="Max" />
        </div>

        <!-- Linha 4 -->
        <div class="col-12">
          <select class="form-select">
            <option selected>Todos</option>
            <option>Com garagem</option>
            <option>Sem garagem</option>
          </select>
        </div>

        <!-- Linha 5 -->
        <div class="col-md-6">
          <button type="button" class="btn filter-button w-100">
            <i class="ri-filter-2-fill"></i> Filtrar Código
          </button>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn search-button w-100">
            BUSCAR IMÓVEIS
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<link rel="stylesheet" href="components/hero/hero.css" />
